<h1><%= @applicant.name %>'s Application</h1>
<% @applicant.pets.each do |pet| %>

<h4>Pets Applied For</h4>
<p><%= pet.name %></p>
<%end%>

<h4><%= @applicant.name%>'s Information</h4>
<p>Street Address: <%=@applicant.address%></p>
<p>City: <%=@applicant.city%></p>
<p>State: <%=@applicant.state%></p>
<p>Zip Code: <%=@applicant.zipcode%></p>
<h3>Why they'd make a great home: <%= @applicant.description  %></h3>
<h3>Status: <%= @applicant.status  %></h3>
<% if @applicant.pets.count > 0 %>
   <h3>Interested in adopting:
   <% @applicant.pets.each do |pet| %>
      <%= link_to pet.name, "/pets/#{pet.id}" %>
   <% end %></h3>
<% end %>
<%= form_with url: "/applications/#{@applicant.id}", method: :get, local: true do |f| %>
  <%= f.label :search, "Add a Pet to this Application" %>
  <%= f.text_field :search %>
  <%= f.submit "Search" %>
<% end %>
<% if @applicant.pet_search(params[:search]).count >= 1 %>
   <% @applicant.pet_search(params[:search]).each do |pet| %>
      <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
   <% end %>
<% end %>
