<header>
  <h1><%= @applicant.name %>'s Application</h1>
</header>

<h2>Add a Pet to this Application</h2>
  <section id='search-pet'>
  <%= form_with url: "/applications/#{@applicant.id}?search=pet_name", method: :get, local: true do |form| %>
  <%= form.label :pet_name %>
  <%= form.text_field :pet_name %>
  <%= form.submit "Search" %>
  <% end %>
<h4> Matches: <% @pets.each do |pet| %> <h4>
  <p><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></p>
  <% end %>
</section>

<section id="pet-names">
  <h2>Pets Applied For</h2>
    <% @applicant.pets.each do |pet| %>
    <p><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></p>
    <%end%>
</section>

<section id="applicant-info">
  <h4><%= @applicant.name%>'s Information</h4>
    <p>Street Address: <%=@applicant.address%></p>
    <p>City: <%=@applicant.city%></p>
    <p>State: <%=@applicant.state%></p>
    <p>Zip Code: <%=@applicant.zipcode%></p>

  <h4>What makes <%=@applicant.name %> a good fit?</h4>
    <p><%=@applicant.description%></  p>

  <h4>Status:</h4>
    <p><%=@applicant.status%></p>
</section>
